body {
  background: #043de2;
  font-family: 'Merriweather', serif;
  color: #2b2c2d; }

header {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
  flex-wrap: wrap;
  justify-content: space-between; }

h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  margin: 0 0 1.438rem 0; }
  h1 {
    font-size: 46px; }
    @media screen and (min-width: 320px) {
      h1 {
        font-size: calc(5.625vw + 28px); } }
    @media screen and (min-width: 1280px) {
      h1 {
        font-size: 100px; } }

.button-group {
  border: 2px solid white;
  border-radius: 10px;
  width: 240px;
  flex-basis: 240px;
  height: 54px;
  font-size: 20px;
  margin: 0 auto; }
  @media screen and (min-width: 880px) {
    .button-group {
      margin-left: auto;
      margin-right: 40px; } }
  .button-group button {
    background: none;
    border: none;
    color: white;
    width: 80px;
    height: 54px;
    padding: 0;
    vertical-align: middle; }
    .button-group button:first-child {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px; }
    .button-group button:last-child {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }
    .button-group button.clicked, .button-group button:active {
      background: white;
      color: #043de2; }
    .button-group button:focus {
      outline: none; }
  .button-group button + button {
    border-left: 2px solid white; }

.ribbon-read {
  background: #02c2c9;
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  line-height: 1;
  color: white;
  font-size: 16px;
  margin-top: 25px; }
  .ribbon-read::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 25px 0;
    border-color: transparent #043de2 transparent transparent;
    right: 0;
    position: absolute;
    top: 0; }
  .ribbon-read::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #043de2;
    bottom: 0;
    left: 0;
    position: absolute; }
  @media screen and (min-width: 900px) {
    .ribbon-read {
      width: 140px;
      flex-basis: 140px;
      padding-bottom: 35px;
      margin-top: -55px;
      font-size: 12px;
      line-height: 1.4; }
      .ribbon-read::before {
        content: none; }
      .ribbon-read::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 70px 35px 70px;
        border-color: transparent transparent #043de2 transparent;
        bottom: 0;
        left: 0;
        position: absolute; }
      .ribbon-read .time {
        font-size: 50px;
        display: block;
        font-weight: 900; } }

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 2rem; }

main {
  background: white;
  display: grid;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 880px) {
    main {
      padding: 35px 0 0 0;
      grid-template-columns: 185px auto; } }

.label {
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  background-color: #e5e5e5;
  text-transform: uppercase;
  padding: 13px 17px;
  margin: 0;
  position: sticky;
  display: inline-block; }

.sidebar {
  padding-right: 25px; }
  @media screen and (max-width: 860px) {
    .sidebar {
      display: none; } }

.kicker {
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #043de2;
  display: block;
  margin-bottom: 13px;
  text-transform: uppercase; }

.headline {
  line-height: 1.217;
  margin: 0; }
  .headline {
    font-size: 26px; }
    @media screen and (min-width: 320px) {
      .headline {
        font-size: calc(0.625vw + 24px); } }
    @media screen and (min-width: 1280px) {
      .headline {
        font-size: 32px; } }

.article-data {
  display: flex; }

.article-creation {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  padding-left: 14px; }
  .article-creation .byline {
    margin: 0;
    line-height: 2em; }

.reading-time {
  background-color: #02c2c9;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 52px;
  height: 52px;
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column; }
  .reading-time .number {
    font-size: 30px;
    display: block;
    margin: 0; }
  .reading-time .timescale {
    font-size: 10px; }

.teaser {
  font-size: 1em;
  line-height: 1.636; }

article {
  border-bottom: 2px solid #e5e5e5;
  padding: 2.125rem 1.5vw;
  margin: 0 2vw; }
  @media screen and (min-width: 860px) {
    article {
      margin: 0 10vw 0 0; }
      article:first-child {
        padding-top: 0; } }
  article a {
    text-decoration: none;
    color: #2b2c2d; }
